:local {
  .app {
    padding-top: 0;
    h1 {
      margin: 0 auto;
      padding: 1rem;
      font-size: 1.285714286rem;
      font-weight: 500;
      background-color: #cbe9fa;
    }
  }
  .app-content {
    padding: 0 1rem 2rem;
    @media screen and (min-width: 48em) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
}
